/******************************** compass ********************************/


//colors
$white: #FFF;
$black: #000;
$purpule: #553CA1;
$gray: #666666;
$gray-light: #ABAFB6;
$pink: #E50262;


//grid
$susy: (
  global-box-sizing: border-box
);


body {
	background: url("../img/bg_start.jpg"), url("../img/bg_finish.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: 50% 0, 50% 100%;
	font-family: Helvetica, Arial, sans-serif;
	background-color: $purpule;

	@include breakpoint(min-width 1600px) {
		@include background-size(100% auto);
	}
}

.fancybox-overlay {
	background: rgba($black, .8);
}