/******************************** footer ********************************/


$b: ".footer";

#{$b} {
	height: 660px;
	width: 100%;
//	background-image: url("../img/bg_finish.jpg");
//	background-repeat: no-repeat;
//	background-position: 50% 100%;
//	@include background-size(100% auto);
	text-align: center;
}

#{$b}__title {
	font-size: 58px;
	color: $black;
	padding: 53px 0 52px 0;
}

#{$b}__contacts {
	color: $black;

	h4 {
		font-size: 24px;
		padding: 40px 0 30px 0;
	  	span{
		  	background:$textbg;
		}
	}

	p {
		font-size: 15px;
		line-height: 150%;
	  	span{
		  	background:$textbg;
		}
	}
    a{
	  color: #63B3FF;
	  background:$textbg;
	}
}

#{$b}__bottom {
	@extend %clearfix;
	padding-top: 80px;
}

#{$b}__bottom-copy {
	float: left;
	color: $black;
	font-size: 16px;
	span{
		background:$textbg;
	}
}

#{$b}__bottom-logo {
	float: right;
	display: block;
	@include image-with-dimentions("logo-kama.png");
}