/******************************** partners ********************************/


$b: ".partners";

#{$b} {
	margin-top: 41px;
	display: table;
	height: 140px;
	width: 100%;
}

#{$b}__item {
	position: relative;
	vertical-align: middle;
	display: table-cell;
	//	border: 1px solid red;
	// width: 25%;
}

#{$b}__item_sponsor {
	padding-right: 110px;
}

#{$b}__item_farpost {
	padding-right: 30px;
}

#{$b}__item-type {
	position: absolute;
	top: -19px;
}