/******************************** partners ********************************/


$b: ".partners";

#{$b} {
	margin-top: 20px;
	display: table;
	height: 140px;
	width: 100%;
}

#{$b}__item {
	position: relative;
	vertical-align: middle;
	display: table-cell;
//	border: 1px solid red;
}

#{$b}__item_sponsor {
}

#{$b}__item_farpost {
}
#{$b}__item_prim {
  padding-right: 125px;
}

#{$b}__item-type {
	position: absolute;
	top: -19px;
}
